{% extends 'partials/base.html.twig' %}

{% block content %}
{{ page.content }}
{% for module in page.collection() %}
        {% if module.menu == 'before_article' %}
            {{ module.content }}
        {% endif %}

        {% endfor %}

			<section id="one" class="wrapper major-pad">
				<div class="inner">
					<section class="spotlight">
						<div class="content">
							<h2>{{page.header.subheader}}</h2>
							<p>{{page.header.text}}</p>
						</div>
						<span class="image"><img src="{{ page.media[page.header.image].url }}" alt="" /></span>
					</section>
				</div>
			</section>

{% for module in page.collection() %}

        {% if module.menu != 'before_article' %}
		 	{{ module.content }}

        {% endif %}


        {% endfor %}
			
{% endblock %}